@using registration.Features.Registration.Models
@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.3.0/zxcvbn.js"></script>
<script src="\js\Registration.js"></script>

<style>
    .password-progress {
        margin-top: 10px;
        margin-bottom: 0;
    }
</style>
<div>
    <form method="POST" asp-action="Validate" id="registrationForm">
        <h1>register</h1>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <div class="progress password-progress">
            <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;"></div>
        </div>
        <p id="message"></p>
        <div id="suggestions"> </div>
        <input type="submit" id="submission" disabled="disabled" />
    </form>

    @if (Model?.PasswordStrengthResult != null)
    {
        <div>
            <p>this password scores @Model.PasswordStrengthResult.Score</p>
            <p>it would take @Model.PasswordStrengthResult.CrackTimeDisplay to crack</p>
            @if (Model.BreachCount != null)
            {
                <p>this password has appeared in @Model.BreachCount breaches</p>
            }
        </div>
    }
</div>

