@using registration.Features.Registration.Models
@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.3.0/zxcvbn.js"></script>

<style>
    .password-progress {
        margin-top: 10px;
        margin-bottom: 0;
    }
</style>
<div>
    <form method="POST" asp-action="Validate" id="registrationForm">
        <h1>register</h1>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <div class="progress password-progress">
            <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;"></div>
        </div>
        <p id="message"></p>
        <div id="suggestions"> </div>
        <input type="submit" id="submission" disabled="disabled" />
    </form>

    @if (Model?.PasswordStrengthResult != null)
    {
        <div>
            <p>this password scores @Model.PasswordStrengthResult.Score</p>
            <p>it would take @Model.PasswordStrengthResult.CrackTimeDisplay to crack</p>
            @if (Model.BreachCount != null)
            {
                <p>this password has appeared in @Model.BreachCount breaches</p>
            }
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $('#password').keyup(function () {
            var password = password = $('#password').val();
            var $bar = $('#strengthBar');

            if (password == '') {
                $bar.attr('class', '').css('width', '0');
                $('#submission').prop('disabled', true);
                $('#message').text('');
                $('#suggestions').html('');
                return;
            }

            var restrictedItems = [];
            restrictedItems.push($('#email').val());

            var result = zxcvbn(password, restrictedItems),
                score = result.score,
                message = result.feedback.warning || score < 3 ? 'The password is weak' : '',
                suggestions = result.feedback.suggestions;
            
            switch (score) {
                case 0:
                    $bar.attr('class', 'progress-bar progress-bar-danger')
                        .css('width', '1%');
                    break;
                case 1:
                    $bar.attr('class', 'progress-bar progress-bar-danger')
                        .css('width', '25%');
                    break;
                case 2:
                    $bar.attr('class', 'progress-bar progress-bar-danger')
                        .css('width', '50%');
                    break;
                case 3:
                    $bar.attr('class', 'progress-bar progress-bar-warning')
                        .css('width', '75%');
                    break;
                case 4:
                    $bar.attr('class', 'progress-bar progress-bar-success')
                        .css('width', '100%');
                    break;
            };
            
            $('#submission').prop('disabled', score < 3);
            $('#message').text(message);

            var suggestionHtml = '';
            for (var i = 0; i < suggestions.length; ++i) {
                suggestionHtml += '<p>' + suggestions[i] + '</p>';
            }

            $('#suggestions').html(suggestionHtml);
        });
    });
</script>

